/*Defaul style*/
img, video{
    max-width: 100%;
}
body {
    /*background: #dafffc;
    border: solid 3px #006cff;*/
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /*Font that is used in my original design
    font-family: 'Gill Sans', Vernada, sans-serif;
    font-size: 16px;*/
    /*Google web font*/
    font-family: 'Kanit', 'Montserrat', sans-serif;
    line-height: 1.3em;    
    margin: 20px auto;
    padding: 1em 1em;
    width: 80%;    
}
header{
    color: #ff9d00;
    font-size: 2em;
}
nav{
    margin: 15px auto;
}
nav li{
    float: left;
    list-style: none;
    margin-left: 0;
    padding: 0;
}
.mainMenu a:link, .mainMenu a:visited{
    color: #FAA202;    
    display: block;
    margin-bottom: 0;
    padding: 0.3em 0.3em;
    text-align: center;
    width: 5em;
}
.mainMenu a:hover, .mainMenu a:active {
    background-color: #fff35d;
}
.iconMenu{
    width: 48px;
    height: 48px;
}
.contactLogo{
    width: 48px;
    height: 48px;
}
main{
    background: #fefff5;
    box-shadow: 5px 5px 2px #888888;
    margin: 0 auto 10px auto;
}
section{
    /*border: solid red;*/
    padding: 0.5em 1em;
}
aside{
    padding: 0.2em 0.4em;
}
ul{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
footer{
    background: #73c7c1;
    border-radius: 11px;
    box-shadow: 5px 5px 2px #9b9b9b;
    min-height: 41px;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
    text-align: center;    
    width: 100%;
}
/*Responsive style with Mostly fluid pattern*/
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.flexItem{
    width: 100%;
}
.flexAside{
    margin: 0.3em 0em;
    width: 100%;
}
/*At this breakpoint, just show the iconMenu*/
@media screen and (min-width: 300px) and (max-width: 719px){
    aside{
        border-top: solid 2px #d3d3d3;
    }
    aside.container{
        width: 100%;
    }
    .flexItem{
        width: 100%;
    }
    .flexAside{
        width: 100%;
    }
    header{
        font-size: 1.5em;
    }
    main{
        margin: 10px auto 10px auto;
    }
    .mainMenu a:link{
        width: auto;
    }
    .textMenu{
        display: none;
    }
}

@media screen and (min-width: 720px) and (max-width: 959px){
    aside{
        border-top: solid 2px #d3d3d3;
    }
    aside.container{
        width: 100%;
    }
    .flexItem{
        width: 100%;
    }
    .flexAside{
        width: 100%;
    }
}
@media screen and (min-width: 960px){
    aside{
        border-left: solid 2px #d3d3d3;
    }
    article.container{
        width: 65%;
    }
    aside.container{
        width: 33%;
    }
    .flexAside{
        width: 100%;
    }
    header{
        font-size: 2em;
    }
}