/*Global CSS variables*/
:root {
    --header-color: #ff9d00;
    --max-title-size: 3em;
    --mid-title-size: 2em;
    --min-title-size: 1.5em;
    --max-sectionHeader-size: 1.5em;
    --mid-sectionHeader-size: 1.2em;
    --min-sectionHeader-size: 1em;
}
/*Defaul style*/
nav {
    display: flex;
    margin: 22px auto;
}
nav li {
    float: left;
    list-style: none;
    margin-left: 0;
    padding: 0;
}
.mainMenu a:link, .mainMenu a:visited{
    color: #FAA202;    
    display: block;
    margin-bottom: 0;
    padding: 0.3em 0.3em;
    text-align: center;
    width: 5em;
}
.mainMenu a:hover, .mainMenu a:active {
    background-color: #fff35d;
}
.iconMenu, .contactLogo{
    width: 48px;
    height: 48px;
}
img, video {
    max-width: 100%;
}
a:visited {
    color: var(--header-color);
}
body {
    /*Google web font*/
    font-family: 'Kanit', 'Montserrat', sans-serif;
    line-height: 1.3em;    
    margin: 20px auto;
    padding: 1em 1em;
}
header {
    color: var(--header-color);
}
main {
    margin-left: 3em;
    margin-right: 3em;
}
article {
    display: grid;
}
section {
    display: grid;
    border: solid #d1d1d1;
    padding: 0.22em 0.88em;
    box-shadow: 8px 8px 2px #e7e7e7;
}
.sectionHeader {
    color: var(--header-color);
}
footer {
    grid-area: footer;
    background: #73c7c1;
    border-radius: 11px;
    min-height: 41px;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
    font-size: var(--min-sectionHeader-size);
    text-align: center;    
    width: 100%;
}
/*Responsive design*/
@media screen and (max-width: 359px) {
    main {
        display: grid;
        grid-gap: 1.2em;
        margin: 10px auto 10px auto;
    }
    section {
        grid-gap: 1em;
    }
    header {
        font-size: var(--min-title-size);
    }
    .sectionHeader {
        font-size: var(--min-sectionHeader-size);
    }
    .textMenu {
        display: none;
    }
}
@media screen and (min-width: 360px) and (max-width: 619px){
    article {
        grid-gap: 1.2em;
        margin: 18px auto 18px auto;
    }
    section {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }
    header {
        font-size: var(--min-title-size);
    }
    .sectionHeader {
        grid-column: span 2;
        font-size: var(--min-sectionHeader-size);
    }
    .textMenu {
        display: none;
    }
}
@media screen and (min-width: 620px) and (max-width: 959px){
    article {
        grid-gap: 1.5em;
        margin: 22px auto 22px auto;
    }
    section {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.2em;
    }
    header {
        font-size: var(--mid-title-size);
    }
    .sectionHeader {
        grid-column: span 3;
        font-size: var(--mid-sectionHeader-size);
    }
}
@media screen and (min-width: 960px){
    article {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5em;
    }
    section {
        grid-template-columns: repeat(3,2fr);
        grid-gap: 1.5em;
    }
    header {
        font-size: var(--max-title-size);
    }
    .sectionHeader {
        grid-column: span 3;
        font-size: var(--max-sectionHeader-size);
    }
}